body,
html,
#root {
  width: 100vw;
  height: 100vh;
  background-color: #101010;
  background: radial-gradient(circle at bottom center, #212121 0%, #101010 80%);
  user-select: none;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

canvas {
  position: relative;
  z-index: 2;
  pointer-events: none;
  .title {
    z-index: -1;
  }
}

.first__sec {
  position: absolute;
  top: 132vh;
  left: 100px;
  p {
    max-width: 400px;
  }
}

.second__sec {
  position: absolute;
  top: 230vh;
  left: 40;
  left: 48px;
  width: 540px;
  transform: translate(150%, 10px);
  h2 {
    max-width: 440px;
  }
  p {
    max-width: 440px;
  }
}

.third__sec {
  position: absolute;
  top: 330vh;
  left: 40;
  left: 48px;
  width: 540px;
  transform: translate(150%, 10px);
  h2 {
    max-width: 440px;
  }
  p {
    max-width: 440px;
  }
}
